* {
  font-family: 'Urbanist', sans-serif;
  color:white
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  flex: display;
  text-align: center;
  width: 60%;
  background-color: #184233
}

body {
  display: flex;
  align-content: center;
  justify-content: center;  
}

.human-side, .computer-side {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  background-color: #538059
}

.human-emoji, .computer-emoji {
  font-size: 50px;
}