* {
  font-family: 'Urbanist', sans-serif;
  color: white;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  flex: display;
  text-align: center;
  width: 60%;
  background-color: #184233
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.human-side,
.computer-side {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  background-color: #538059;
  align-items: center;
}

.human-emoji,
.computer-emoji,
.computer-winner-token,
.human-winner-token {
  font-size: 45px;
  margin: 25px 0 0 0
}

h1 {
  font-weight: 600;
  font-size: 60px;
  margin: 30px 0 0 0
}

h2 {
  font-size: 30px;
  margin: 10px 0 10px 0;
  font-weight: 300
}

h5,
h4 {
  font-size: 22px;
  margin: 15px 0 10px 0;
}

.container-1,
.container-2 {
  background-color: #797974eb;
  width: 250px;
  height: 250px;
  margin: 55px 0 0 0;
  cursor: pointer;
}

.game-types {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

.container-1:hover,
.container-2:hover,
button:hover {
  background-color: #4d4d4beb;
}

img {
  width: 150px;
  height: 150px;
  margin: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

button {
  font-size: 20px;
  background-color: #3f3f3beb;
  width: 100px;
  cursor: pointer;
  margin: 15px;
  border: 0;
}
